<app-cabecalho-gerenciamento />

<div class="search-bar">
    <input type="text" placeholder="Procurar aluno:" />
</div>

<div class="student-card-container">
    <div class="student-card">
        <div class="card-header">
            <span>MATRICULA</span> <span>000000000</span>
        </div>
        <div class="card-content">
            <p>aaa</p>
            <p>CPF:</p>
        </div>
        <div class="card-icons">
            <button class="edit-icon">✎</button>
            <button class="info-icon">ℹ</button>
        </div>
    </div>
</div>