<app-cabecalho-gerenciamento />

<div class="escolhasGestao">  

  <div class="containerButtons">

    <button class="btn orange">
      <i class="fa fa-dumbbell"></i>
      REGISTRAR ALUNO
    </button>

    <button class="btn blue">
      <i class="fa fa-clipboard"></i>
      REGISTRAR PROFESSOR
    </button>

    <button class="btn orange">
      <i class="fa fa-dumbbell"></i>
      GERENCIAR ALUNO
    </button>

    <button class="btn blue">
      <i class="fa fa-clipboard"></i>
      GERENCIAR PROFESSOR
    </button>

    <button class="btn grey" disabled>
      <i class="fa fa-users"></i>
      GERENCIAR DEMANDAS
    </button>

  </div>
</div>
