<!--TELA DA GORETE-->

<!--<app-login-pages />-->                         <!--LOGIN OK-->
<!--<app-registro-alunos-pages />-->

<!--<app-registro-professor-pages />-->            <!--REGISTRO PROFESSOR OK-->

<!--<app-home-administracao-pages />-->            <!--TELA GORETE OK-->
<!--<app-gerenciamento-alunos />-->                <!--PARA GERIR OS ALUNOS OBS: NÃO TEM ALUNO AINDA-->
<!--<app-demandas />-->                            <!--TELA DE DEMANDAS-->

<!--TELAS PROFESSOR-->

<!--<app-home-professor />-->                      <!--TELA DE INICIO DOS PROFESSORES-->
<!--<app-ficha-pronta />-->                        <!--CRIAÇÃO DE FICHA-->
<!--<app-ficha-pre-set />-->                       <!--FICHA PRE SET-->
<router-outlet />
